<img src="assets/img/main-bg.png" class="footer-bg">

<footer id="footer" class="footer position-relative light-background">
    <div class="container">
      <h3 class="sitename">{{title}}</h3>
      <p>Audentes Fortuna Iuvat</p>

      @if( _socials.length !== 0 ){
      <div class="social-links d-flex justify-content-center">
        @for( social of _socials; track social.name) {
          <a href="{{social.url}}" target="_blank">
            <i class="{{social.icon}}"></i>
          </a>
        }
      </div>
      }

      <div class="container">
        <div class="copyright">
          <strong class="px-1 sitename">&copy;</strong> <i>JMPG Developer</i> - <span>All Rights Reserved</span>
          <p>Powered by <i class="devicon-angular-plain"></i> and <i class="fa-brands fa-github"></i></p>
        </div>
      </div>
    </div>
  </footer>