<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{{title}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li>
            <a class="nav-link" [routerLink]="['/main']">
              <i class="bi bi-house navicon"></i>
              <span>Main</span>
            </a>
          </li>
          <li>
            <a class="nav-link" href="#about">
              <i class="bi bi-person navicon"></i>
              <span>About</span>
            </a>
          </li>
          <li>
            <a class="nav-link" href="#resume">
              <i class="bi bi-file-earmark-text navicon"></i>
              <span>Resume</span>
            </a>
          </li>
          <li>
            <a class="nav-link" href="#portfolio">
              <i class="bi bi-images navicon"></i>
              <span>Portfolio</span>
            </a>
          </li>
          <li>
            <a class="nav-link" href="#services">
              <i class="bi bi-hdd-stack navicon"></i>
              <span>Services</span>
            </a>
          </li>
          <li>
            <a class="nav-link" href="#contact">
              <i class="bi bi-envelope navicon"></i>
              <span>Contact</span>
            </a>
          </li>
        </ul>
        
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>