<section id="skills" class="skills section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Skills & Technologies</h2>

    <p>I am a Backend Developer with experience in designing and developing scalable and efficient microservices. My expertise lies in Java and modern backend technologies, focusing on building robust, maintainable, and high-performance applications.</p>
    <p>I have a strong understanding of microservices architecture, ensuring modular and well-structured systems that enhance scalability and flexibility. I work with industry-standard tools and frameworks to optimize development, deployment, and system performance.</p>
    <p>Passionate about clean code and best practices, I am always eager to learn and adapt to new technologies, continuously improving my skills to deliver high-quality software solutions.</p>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row skills-filter">
      <div class="col-auto">
        <div class="btn-group px-2">
          <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Filter
            @if( selectedTags.length > 0 ){ 
            <span class="badge bg-dark">{{selectedTags.length}}</span>
            }
          </button>
          <ul class="dropdown-menu">
            @for( tag of tags; track tag ){
            <li>
              <a class="dropdown-item" [class.active]="selectedTags.includes(tag)" (click)="filter(tag)">{{tag}}</a>
            </li>
            }
          </ul>
        </div>
        @if( selectedTags.length > 0 ){
        <button type="button" class="btn btn-outline-dark btn-sm" (click)="reset()">Reset</button>
        }
      </div>
    </div>

    <div class="row skills-content skills-animation">

      <div class="col-lg-12">
        @if( _skills == null || _skills == [] || _skills.length === 0 ){
        <div class="alert alert-outline-primary m-2" role="alert">
          No skills found!
        </div>
        }

        @for( skill of _skills; track skill ){
        <div class="col-lg-6 col-sm-12 float-start p-2">
          <div class="card">
            <div class="row g-0">
              <div class="col-lg-4">
                <p class="text-center mt-4">
                  <i class="skill-icon {{skill.image}}"></i>
                </p>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{skill.name}}</h5>

                  <!-- Experience -->
                  @if( skill.experience != null ){
                    <p class="card-text">
                      <small class="text-muted">Improving for {{skill.experience}}</small>

                      @if( showProficiency ){
                      <span class="proficiency float-end">
                        @for(i of [1,2,3,4,5]; track i){
                          @if( i <= skill.proficiency ){
                          <i class="fa-circle fa-solid"></i>
                          } @else {
                            @if( (skill.proficiency + 0.5) == i ){
                              <i class="fa-solid fa-circle-half-stroke"></i>
                            } @else {
                              <i class="fa-circle fa-regular"></i>
                            }
                          }
                        }
                      </span>
                      }
                    </p>
                  }

                  <!-- Tags -->
                  @if( skill.tags != null ){
                    <p class="card-text tags">
                      @for( tag of skill.tags; track tag ){
                      <span class="badge bg-dark">{{tag}}</span>
                      }
                    </p>
                  }

                  

                  <p class="card-text">{{skill.description}}</p>
                </div>


              </div>
            </div>
          </div>
        </div>
        }

    </div>

  </div>

  @if( this.selectedTags.length === 0 ){
  <div class="row justify-content-center">
    <div class="col-auto">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          @for( page of pages; track page){
          <li class="page-item">
            <a class="page-link" [class.active]="page == this.page" (click)="changePage(page)">
              <i class="fa-solid fa-circle"></i>
            </a>
          </li>
          }
        </ul>
      </nav>
    </div>
  </div>
  }

</div>

</section>