<section *ngIf="article != null; else notFound" id="article" class="article section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>{{article.name}}</h2>
    </div>
    
    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row">
            <div class="col-4 offset-4">
                <img [src]="article.image" class="img-thumbnail" [alt]="article.name">
            </div>
            <div class="col-12">
                <p class="languages" *ngIf="article.languages != null">
                    <span class="badge bg-language" *ngFor="let lang of article.languages">{{lang}}</span>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a [routerLink]="['/']">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a [routerLink]="['/articles']">Articles</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">{{article.name}}</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div *ngIf="article == null" class="alert alert-dark" role="alert">
                Article not found!
            </div>
            <div *ngIf="article != null" class="article-content">
                <!-- <h1>{{ article.name }}</h1> -->
                <div [innerHTML]="article.content"></div>
            </div>
        </div>
    </div>
    
</section>
<ng-template #notFound>
<section id="article" class="article section">
    <div class="container section-title" data-aos="fade-up">
      <h2>Article Not Found</h2>
    </div>
</section>
</ng-template>
