<section id="resume" class="resume section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Resume</h2>
      <p>My academic background in software engineering and application development, combined with my professional experience across diverse technology areas, has equipped me with the necessary skills to design and implement efficient, scalable solutions. Throughout my career, I have embraced Agile methodologies, integrated advanced programming concepts, and utilized modern software architectures, which has allowed me to lead teams and contribute to high-impact projects.</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row">

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <h3 class="resume-title" >
            <i class="fa-solid fa-building"></i>
            Professional Experience
            @if( isMobile){
            <i class="fa fa-bars float-end" (click)="toggleExperiences()"></i>
            }
          </h3>

          @if( showExperiences ){
            @for( experience of experiences.list; track experience ){
            <div class="resume-item">
              <h4>{{experience.title}}</h4>
              <h5>
                @if( experience.end == null ){
                  <span>{{experience.start}}</span>
                } @else {
                  <span>{{experience.start}} - {{experience.end}}</span>
                }
                <em>{{experience.location}}</em>
              </h5>

              @if( experience.descriptions.length > 1 ){
              <ul>
              @for( description of experience.descriptions; track description ){
                <li>{{description}}</li>
              }
              </ul>
              }
            </div>
            }
          }

        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">
            <i class="fa-solid fa-star"></i>
            Certifications
            @if( isMobile){
            <i class="fa fa-bars float-end" (click)="toggleCertifications()"></i>
            }
          </h3>

          @if( showCertifications ){
            @for( certification of certifications.list; track certification ){
            <div class="resume-item">
              <h4>{{certification.title}}</h4>
              <h5>
                @if( certification.end == null ){
                  <span>{{certification.start}}</span>
                } @else {
                  <span>{{certification.start}} - {{certification.end}}</span>
                }
                <em>{{certification.location}}</em>
              </h5>
              @for( description of certification.descriptions; track description ){
              <p>{{description}}</p>
              }
            </div>
            }
          }
          
          <h3 class="resume-title">
            <i class="fa-solid fa-graduation-cap"></i>
            Education
            @if( isMobile){
            <i class="fa fa-bars float-end" (click)="toggleEducations()"></i>
            }
          </h3>

          @if( showEducations ){
            @for( education of educations.list; track education ){
            <div class="resume-item">
              <h4>{{education.title}}</h4>
              <h5>
                @if( education.end == null ){
                  <span>{{education.start}}</span>
                } @else {
                  <span>{{education.start}} - {{education.end}}</span>
                }
                <em>{{education.location}}</em>
              </h5>

              @for( description of education.descriptions; track description ){
              <p>{{description}}</p>
              }
            </div>
            }
          }
          
        </div>

      </div>

    </div>

  </section>